id: 930e33ec-26f7-579e-a4ec-1580543ce8c4
name: Potential DCOM InternetExplorer.Application DLL Hijack - Image Load
description: Detects potential DLL hijack of "iertutil.dll" found in the DCOM InternetExplorer.Application Class
severity: High
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- LateralMovement
query: |-
  DeviceImageLoadEvents
  | where FolderPath endswith "\\Internet Explorer\\iertutil.dll" and InitiatingProcessFolderPath endswith "\\Internet Explorer\\iexplore.exe"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1021
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceImageLoadEvents
