id: 2820f753-c5b8-553f-8ede-74c06f3a4ed2
name: EvilNum APT Golden Chickens Deployment Via OCX Files
description: Detects Golden Chickens deployment method as used by Evilnum and described in ESET July 2020 report
severity: High
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- DefenseEvasion
query: |-
  DeviceProcessEvents
  | where ProcessCommandLine contains "regsvr32" and ProcessCommandLine contains "/s" and ProcessCommandLine contains "/i" and ProcessCommandLine contains "\\AppData\\Roaming\\" and ProcessCommandLine contains ".ocx"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1218
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: CommandLine
    columnName: ProcessCommandLine
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceProcessEvents
