id: 57a88562-515e-54e2-8543-df28c56aaf36
name: New Application in AppCompat
description: A General detection for a new application in AppCompat. This indicates an application executing for the first time on an endpoint. - Newly setup system. - Legitimate installation of new application.
severity: Informational
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Execution
query: |-
  DeviceRegistryEvents
  | where RegistryKey endswith "\\AppCompatFlags\\Compatibility Assistant\\Store*"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1204
entityMappings:
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
