id: 720d0904-0b96-5469-9901-9b17629b735a
name: Rclone Config File Creation
description: Detects Rclone config files being created - Legitimate Rclone usage
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Exfiltration
query: |-
  DeviceFileEvents
  | where FolderPath contains ":\\Users\\" and FolderPath contains "\\.config\\rclone\\"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1567
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceFileEvents
