id: 07b3db7c-5cf2-5f27-862a-5aacecc36b18
name: Office Application Startup - Office Test
description: Detects the addition of office test registry that allows a user to specify an arbitrary DLL that will be executed every time an Office application is started - Unlikely
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
query: |-
  DeviceRegistryEvents
  | where RegistryKey contains "\\Software\\Microsoft\\Office test\\Special\\Perf"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1137
entityMappings:
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
