id: 355844c6-9d9c-558f-b32a-c9a2db7c81e0
name: RedMimicry Winnti Playbook Registry Manipulation
description: Detects actions caused by the RedMimicry Winnti playbook
severity: High
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
- DefenseEvasion
query: |-
  DeviceRegistryEvents
  | where RegistryKey contains "HKLM\\SOFTWARE\\Microsoft\\HTMLHelp\\data"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1112
entityMappings:
- entityType: Account
  fieldMappings:
  - identifier: Name
    columnName: InitiatingProcessAccountName
  - identifier: NTDomain
    columnName: InitiatingProcessAccountDomain
  - identifier: Sid
    columnName: InitiatingProcessAccountSid
  - identifier: UPNSuffix
    columnName: InitiatingProcessAccountUpn
  - identifier: AadUserId
    columnName: InitiatingProcessAccountObjectId
- entityType: Host
  fieldMappings:
  - identifier: HostName
    columnName: DeviceName
  - identifier: AzureID
    columnName: DeviceId
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
