id: c05128c7-2e05-54ef-a0ec-1a9a727d8874
name: Run Once Task Execution as Configured in Registry
description: This rule detects the execution of Run Once task as configured in the registry
severity: Low
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
- DefenseEvasion
query: |-
  DeviceProcessEvents
  | where (ProcessCommandLine contains "/AlternateShellStartup" or ProcessCommandLine endswith "/r") and (FolderPath endswith "\\runonce.exe" or ProcessVersionInfoFileDescription =~ "Run Once Wrapper")
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1112
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: CommandLine
    columnName: ProcessCommandLine
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceProcessEvents
