id: a3bdd1d8-36d1-506d-8f92-653d8baf93bf
name: WMI Persistence - Security
description: Detects suspicious WMI event filter and command line event consumer based on WMI and Security Logs. - Unknown (data set is too small; further testing needed)
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
- PrivilegeEscalation
query: |-
  DeviceRegistryEvents
  | where RegistryKey contains "subscription"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1546
entityMappings:
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
