id: ee094e77-de8e-5a26-83c7-2671eea951e0
name: Potential Application Whitelisting Bypass via Dnx.EXE
description: Detects the execution of Dnx.EXE. The Dnx utility allows for the execution of C# code. Attackers might abuse this in order to bypass application whitelisting. - Legitimate use of dnx.exe by legitimate user
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- DefenseEvasion
query: |-
  DeviceProcessEvents
  | where FolderPath endswith "\\dnx.exe"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1218
- T1027
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceProcessEvents
