id: 1d7d2ad2-0d81-5d0a-960f-cb13fea8fa29
name: PowerShell Core DLL Loaded Via Office Application
description: Detects PowerShell core DLL being loaded by an Office Product
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- DefenseEvasion
query: |-
  DeviceImageLoadEvents
  | where (FolderPath contains "\\System.Management.Automation.Dll" or FolderPath contains "\\System.Management.Automation.ni.Dll") and (InitiatingProcessFolderPath endswith "\\excel.exe" or InitiatingProcessFolderPath endswith "\\mspub.exe" or InitiatingProcessFolderPath endswith "\\outlook.exe" or InitiatingProcessFolderPath endswith "\\onenote.exe" or InitiatingProcessFolderPath endswith "\\onenoteim.exe" or InitiatingProcessFolderPath endswith "\\powerpnt.exe" or InitiatingProcessFolderPath endswith "\\winword.exe")
version: 1.0.0
kind: Scheduled
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceImageLoadEvents
