id: 8184b5bf-5521-5600-9ae6-85d4b10b1505
name: UAC Bypass Using MSConfig Token Modification - File
description: Detects the pattern of UAC Bypass using a msconfig GUI hack (UACMe 55)
severity: High
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- DefenseEvasion
- PrivilegeEscalation
query: |-
  DeviceFileEvents
  | where FolderPath endswith "\\AppData\\Local\\Temp\\pkgmgr.exe" and FolderPath startswith "C:\\Users\\"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1548
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceFileEvents
