id: 573a1c13-363e-51ce-b164-fac1760b44c6
name: New BgInfo.EXE Custom DB Path Registry Configuration
description: Detects setting of a new registry database value related to BgInfo configuration. Attackers can for example set this value to save the results of the commands executed by BgInfo in order to exfiltrate information. - Legitimate use of external DB to save the results
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
- DefenseEvasion
query: |-
  DeviceRegistryEvents
  | where RegistryKey endswith "\\Software\\Winternals\\BGInfo\\Database"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1112
entityMappings:
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
