id: 89636030-c16a-5849-b99a-7e8e87cc72a1
name: Outlook Security Settings Updated - Registry
description: Detects changes to the registry values related to outlook security settings - Administrative activity
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
query: |-
  DeviceRegistryEvents
  | where RegistryKey endswith "\\SOFTWARE\\Microsoft\\Office*" and RegistryKey endswith "\\Outlook\\Security*"
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1137
entityMappings:
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
