id: 2179d0db-80b6-5c27-8760-44b83531a79e
name: Permission Misconfiguration Reconnaissance Via Findstr.EXE
description: Detects usage of findstr with the "EVERYONE" or "BUILTIN" keywords. This was seen being used in combination with "icacls" and other utilities to spot misconfigured files or folders permissions.
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- CredentialAccess
query: |-
  DeviceProcessEvents
  | where ((ProcessCommandLine contains "\"Everyone\"" or ProcessCommandLine contains "'Everyone'" or ProcessCommandLine contains "\"BUILTIN\\\"" or ProcessCommandLine contains "'BUILTIN\\'") and ((FolderPath endswith "\\find.exe" or FolderPath endswith "\\findstr.exe") or (ProcessVersionInfoOriginalFileName in~ ("FIND.EXE", "FINDSTR.EXE")))) or (ProcessCommandLine contains "icacls " and ProcessCommandLine contains "findstr " and ProcessCommandLine contains "Everyone")
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1552
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: CommandLine
    columnName: ProcessCommandLine
  - identifier: ProcessName
    columnName: FileName
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Name
    columnName: FileName
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceProcessEvents
