id: 8824e7f0-9ff8-5580-9e2f-8fa7734b048e
name: Suspicious Teams Application Related ObjectAcess Event
description: Detects an access to authentication tokens and accounts of Microsoft Teams desktop application.
severity: High
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- CredentialAccess
query: |-
  DeviceRegistryEvents
  | where (RegistryKey contains "\\Microsoft\\Teams\\Cookies" or RegistryKey contains "\\Microsoft\\Teams\\Local Storage\\leveldb") and (not(InitiatingProcessFolderPath contains "\\Microsoft\\Teams\\current\\Teams.exe"))
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1528
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: InitiatingProcessFolderPath
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
