id: 54eaf4dc-b19d-5781-b55c-5a19384c6eb4
name: ClickOnce Deployment Execution - Dfsvc.EXE Child Process
description: Detects child processes of "dfsvc" which indicates a ClickOnce deployment execution.
severity: Medium
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Execution
- DefenseEvasion
query: |-
  DeviceProcessEvents
  | where FolderPath endswith "\\AppData\\Local\\Apps\\2.0\\" and InitiatingProcessFolderPath endswith "\\dfsvc.exe"
version: 1.0.0
kind: Scheduled
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: FolderPath
- entityType: File
  fieldMappings:
  - identifier: Directory
    columnName: FolderPath
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceProcessEvents
