id: 535a5100-823b-5b05-aa94-fc190c97c991
name: Potential Raspberry Robin Registry Set Internet Settings ZoneMap
description: Detects registry modifications related to the proxy configuration of the system, potentially associated with the Raspberry Robin malware, as seen in campaigns running in Q1 2024. Raspberry Robin may alter proxy settings to circumvent security measures, ensuring unhindered connection with Command and Control servers for maintaining control over compromised systems if there are any proxy settings that are blocking connections.
severity: Low
queryFrequency: PT1H
queryPeriod: PT1H
triggerOperator: gt
triggerThreshold: 0
tactics:
- Persistence
- DefenseEvasion
query: |-
  DeviceRegistryEvents
  | where (((InitiatingProcessFolderPath contains "\\AppData\\Local\\Temp\\" or InitiatingProcessFolderPath contains "\\Downloads\\" or InitiatingProcessFolderPath contains "\\Users\\Public\\" or InitiatingProcessFolderPath contains "\\Windows\\Temp\\") or InitiatingProcessFolderPath endswith "\\control.exe") and RegistryKey endswith "\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Internet Settings\\ZoneMap*") and ((RegistryValueData contains "DWORD (0x00000000)" and RegistryKey endswith "\\AutoDetect") or (RegistryValueData contains "DWORD (0x00000001)" and (RegistryKey endswith "\\IntranetName" or RegistryKey endswith "\\ProxyByPass" or RegistryKey endswith "\\UNCAsIntranet")))
version: 1.0.0
kind: Scheduled
relevantTechniques:
- T1112
entityMappings:
- entityType: Process
  fieldMappings:
  - identifier: ProcessPath
    columnName: InitiatingProcessFolderPath
- entityType: RegistryKey
  fieldMappings:
  - identifier: Key
    columnName: RegistryKey
  - identifier: ValueData
    columnName: RegistryValueData
requiredDataConnectors:
- connectorId: MicrosoftThreatProtection
  dataTypes:
  - DeviceRegistryEvents
